{{- $host := not .develop -}}
{{- if $host }}
format = "$directory$git_branch$git_status$line_break$character"
{{- else }}
format = "[VM](bold black bg:yellow) $directory$git_branch$git_status$line_break$character"
{{- end }}

[character]
{{- if $host }}
 success_symbol = "[>](bold green)"
 error_symbol = "[>](bold red)"
{{- else }}
 success_symbol = "[dev>](bold yellow)"
 error_symbol = "[dev!](bold red)"
{{- end }}
