{{- $target := promptStringOnce . "target" "Target" -}}
{{- $context := promptStringOnce . "context" "Context" -}}
[data]
target = {{ $target | quote }}
context = {{ $context | quote }}
name = {{ promptStringOnce . "name" "Git author name" | quote }}
email = {{ promptStringOnce . "email" "Git author email" | quote }}
github_username = {{ promptStringOnce . "github_username" "GitHub username" | quote }}
{{- if eq $context "work" }}
work_username = {{ promptStringOnce . "work_username" "Work username" | quote }}
{{- else }}
work_username = ""
{{- end }}
