[user]
	name = {{ .git_author_name | quote }}
	email = {{ .git_email | quote }}
	signingkey = ~/.ssh/{{ .git_ssh_key_name }}.pub

[alias]
	ci = commit
	st = status
	co = checkout
	br = branch

[push]
	default = current
	autoSetupRemote = true

[core]
	excludesfile = ~/.gitignore
	editor = hx

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- end }}

[url "git@github.com:"]
	insteadOf = https://github.com/

[github]
	user = {{ .github_username | quote }}

[init]
	defaultBranch = main

[pull]
	rebase = false
