develop = {{ if or (eq .develop true) (eq .target "dev") }}true{{ else }}false{{ end }}
needs_opencode = {{ if or (eq .needs_opencode true) (eq .target "agent") }}true{{ else }}false{{ end }}
target = {{ .target | quote }}
context = {{ .context | quote }}
