{{- $myNvimEnv := "" -}}
{{- if hasKey . "mynvim_env" }}{{- $myNvimEnv = .mynvim_env }}{{- else if ne .work_username "" }}{{- $myNvimEnv = "work" }}{{- else }}{{- $myNvimEnv = "private" }}{{- end }}
export MYNVIM_ENV={{ $myNvimEnv | quote }}
